*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app{
    min-height: 100vh;
    display: grid;
    background-color:#fff;
  }
  .search{
    width: 30px;
  }
  .search{
    width: 45px;
    float: right;
    margin-left: 10px;
    padding: 10px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
  }
   .weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #0f171f, #500ae4, #330b8a);
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .search-bar input{
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
   }
   .weather-icon{
    width: 150px;
    margin-top: 30px;
    margin-bottom: 20px;

   }
   .degree{
    margin-bottom: -8px;
    font-size: 80px;
    color: #fff;
   }
   .london{
    color: #fff;
    font-size: 40px;
   }
   .weather-data{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 40px;
    color: #fff;
   }
   .weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
   }
   .weather-data .col span{
    display: block;
    font-size: 16px;
   }
   .weather-data .col img{
    width: 26px;
    margin-top: 10px;
   }