form{
    height: 350px;
    width: 250px;
    background-color: #14da2550;
    margin: 40px 25px;
    border-radius: 10px;
    border:thin black;
    border-width: 30px;
}
header h1{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.general{
    padding-left: 25px;
    }
.input1, .input2{
        width: 180px;
        height: 23px;
        border-radius: 6px;
        border: 40px none;
        padding-top: 1px;
        padding-left: 5px;
        margin-top: 2px;
    }
.email{
    padding-top: 10px;
    font-size: 17px;
    padding-bottom: -2px;
}
.name{
    font-size: 17px;
    padding-bottom: 3px;
}
.submit{
    
    margin-top: 7px;
    margin-left: 58px;
}
.message{
    font-size: 17px;
    padding-top: 8px;
    padding-bottom: 5px;
}
.mbox{
    width: 200px;
    height: 80px;
    border-radius: 6px;
    border: 40px none;
}
.box{
    height: 22px;
    width: 70px;
    font-size: 14px;
    background-color: rgb(42, 94, 35);
    color: rgb(27, 144, 212);
}
.submit :hover{
    cursor: pointer;
    background-color: bisque;
}
@media screen and (min-width: 375px){
    form{
       margin: 40px 45px;

    }
}
@media screen and (min-width: 425px){
   form{
    margin: 40px 80px;
   }
}
@media screen and (min-width:768px){
    header h1{
        font-size: 30px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 0px;
        font: italic;
    }
    
    form{
        margin: 0px 240px;
        height: 380px;
        width: 300px;
        
    }
    .general{
        padding-left: 40px;
        padding-top: 15px;
        }
        .input1, .input2{
            width: 200px;
            height: 20px;
            border-radius: 6px;
            border: 40px none;
            padding-top: 1px;
            padding-left: 5px;
            margin-top: 10px;
            font-size: 13px;
        }
        .name, .email{
            font-size: 18px;
        }
        .submit{
    
            margin-top: 6px;
            margin-left: 90px;        
        }
        .box{
            height: 26px;
            width: 58px;
            font-size: 15px;
            background-color:  rgb(42, 94, 35);
            color: rgb(27, 144, 212);
        }
    }
        @media screen and (min-width:1024px){
            header h1{
                font-size: 30px;
                font-weight: bold;
                font-family: 'Times New Roman', Times, serif;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                font: italic;
            }
            
            form{
                margin: 20px 290px;
                height:350px;
                width: 350px;
                
            }
            .general{
                padding-left: 60px;
                padding-top: 1px;
                
                }
                .input1, .input2, .mbox{
                    width: 200px;
                    height: 20px;
                    border-radius: 10px;
                    border: 40px none;
                    padding-top: 1px;
                    padding-left: 8px;
                    margin-top: 1px;
                    margin-bottom: 2px;
                    font-size: 14px;
                }
                .name, .email, .message{
                    font-size: 17px;
                }
                .submit{
            
                    margin-top: 0px;
                    margin-left: 80px;        
                }
                .mbox{
                    width: 200px;
                    height: 70px;
                    border-radius: 6px;
                    border: 40px none;
                }
                .box{
                    height: 28px;
                    width: 76px;
                    font-size: 15px;
                    background-color: rgb(42, 94, 35);
                    color: rgb(27, 144, 212);
        }
                
}
@media screen and (min-width:1440px){
    header h1{
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    form{
        margin: 2px 500px;
        height:430px;
        width: 500px;
        
    }
    .general{
        padding-left: 50px;
        padding-top: 10px;
        }
        .input1, .input2, .mbox{
            width: 300px;
            height: 25px;
            border-radius: 15px;
            border: 40px none;
            padding-top: 2px;
            padding-left: 10px;
            margin-top: 10px;
            font-size: 13px;
        }
        .mbox{
            width: 300px;
            height: 70px;
            border-radius: 6px;
            border: 40px none;
        }
    
        .name, .email, .message{
            font-size: 17px;
        }
        .email{
            margin-top: 10px;
        }
        .submit{
    
            margin-top: 10px;
            margin-left: 170px;        
        }
        .box{
            height: 30px;
            width: 70px;
            font-size: 19px;
            background-color:rgb(42, 94, 35);
            color: rgb(27, 144, 212);
}
        
}